In [77]:
import pandas as pd

file_path = '/Users/dariagerenkova/Desktop/задание на аналитика.xlsx'
r1 = pd.read_excel(file_path, sheet_name='отчет 1')
r2 = pd.read_excel(file_path, sheet_name='отчет 2')
cession = pd.read_excel(file_path, sheet_name='цессия')

merged = r1.merge(
    r2,
    left_on='Номер контракта',
    right_on='NumContract',
    how='left'
)

excluded_status = ['REPAID', 'EARLY_REPAID', 'BANKRUPTCY']
cleaned = merged[
    ~merged['Номер контракта'].isin(cession['ContractID']) &
    ~merged['Status'].isin(excluded_status)
]

pivot = cleaned.pivot_table(
    index='SubdivisionName',
    values=['Номер контракта', 'LoanAmount'],
    aggfunc={'Номер контракта': 'count', 'LoanAmount': 'sum'}
).rename_axis('Регион').reset_index().rename(columns={
    'Номер контракта': 'Кол-во договоров',
    'LoanAmount': 'Сумма выдач'
})

print('Сводная таблица по регионам')
display(pivot)
pivot.to_excel('by_region.xlsx', index=False)

Сводная таблица по регионам

            Регион  Сумма выдач  Кол-во договоров
0        Астрахань        30000                 1
1         Белгород        65000                 2
2          Вологда        30000                 1
3            Курск        20000                 1
4           Онлайн       127400                13
5            Пенза        30000                 1
6  Санкт-Петербург        50000                 1
7     Электросталь       100000                 2

In [79]:
#cleaned = cleaned.drop(columns=['NumContract', 'ClientID', 'inner_lead_id', 'issueDateTimestamp', 'RepaymentPlanDate', 'LoanAmount'])
cleaned = cleaned.rename(columns={
    'SubdivisionName': 'Регион выдачи',
    'Status': 'Статус',
    'DateStatus': 'Дата последнего платежа',
    'SumLastPay': 'Сумма последнего платежа',
    'ContractID': 'ID договора' 
})
print('Исходный реестр')
display(cleaned)

Исходный реестр

,№,Номер контракта,дата выдачи,Сумма выдачи,Задолженность по ОД,Задолженность по %%,"Кол-во дней просрочки, фактическое",NumContract,ID договора,ClientID,inner_lead_id,Регион выдачи,issueDateTimestamp,RepaymentPlanDate,LoanAmount,Статус,Дата последнего платежа,Сумма последнего платежа
0,1,3547,2023-03-23,60000,47104.16,23926.86,525,3547,10614,75,12098,Электросталь,2023-03-23 13:49:12,2024-03-21,60000,COLLECTOR,2023-11-21 23:00:00,1775
1,2,68,2022-09-30,35000,11447.66,1300.06,552,68,183,219,\N,Белгород,2022-09-30 15:18:31,2023-09-29,35000,COLLECTOR,2024-10-03 14:33:23,1950
2,3,389,2022-10-28,30000,4410.20,249.72,482,389,1146,1344,\N,Вологда,2022-10-28 12:44:37,2023-10-27,30000,DELINQUENT,2023-10-07 00:00:00,1200
3,4,1393,2022-12-20,40000,11088.24,1482.47,457,1393,4157,9776,\N,Электросталь,2022-12-20 14:24:23,2023-12-19,40000,ACTIVE_SB,2023-12-12 23:00:00,3000
4,5,2050,2023-01-26,50000,42219.24,30483.14,609,2050,6127,35551,\N,Санкт-Петербург,2023-01-26 18:01:52,2024-01-25,50000,COLLECTOR,2024-12-17 15:34:37,2200
5,6,2154,2023-01-31,20000,6606.81,864.92,583,2154,6439,47875,\N,Курск,2023-01-31 14:50:25,2023-07-25,20000,COLLECTOR,2024-12-17 15:34:38,6652.05
6,7,2148,2023-01-31,30000,8796.44,1169.45,415,2148,6421,52735,\N,Пенза,2023-01-31 13:35:23,2024-01-30,30000,ACTIVE_SB,2024-01-23 23:00:00,9000
7,8,3211,2023-03-10,30000,25533.57,19657.32,573,3211,9610,114331,\N,Белгород,2023-03-10 12:01:12,2024-03-08,30000,COLLECTOR,2023-09-11 09:15:44,4250
8,9,3512,2023-03-21,30000,26037.23,21091.66,569,3512,10509,137712,\N,Астрахань,2023-03-21 16:00:29,2024-03-19,30000,COLLECTOR,2023-09-13 08:46:09,1100
9,10,6081,2023-06-18,9500,9500.00,5157.97,578,6081,18155,247823,61302,Онлайн,2023-06-18 03:53:06,2023-09-10,9500,COLLECTOR,2024-12-17 15:34:43,\N
10,11,7524,2023-07-05,9500,9500.00,4051.18,561,7524,22472,252860,85612,Онлайн,2023-07-05 08:34:09,2023-09-27,9500,COLLECTOR,2024-10-14 11:55:57,\N
11,12,12728,2023-08-26,9900,8655.17,3112.94,495,12728,38081,272921,143198,Онлайн,2023-08-26 23:39:09,2023-11-18,9900,COLLECTOR,2024-11-08 14:22:22,2353.63
12,13,23629,2023-11-07,9900,9900.00,4221.74,436,23629,70784,304811,224372,Онлайн,2023-11-07 15:02:11,2024-01-30,9900,COLLECTOR,2024-10-03 12:39:33,\N
13,14,26146,2023-11-19,9900,4660.48,0.00,382,26146,78335,310499,238618,Онлайн,2023-11-19 15:24:13,2024-02-11,9900,COLLECTOR,2024-10-03 13:14:49,2400
14,15,27112,2023-11-23,9900,9900.00,4221.74,420,27112,81233,312539,244106,Онлайн,2023-11-23 20:44:12,2024-02-15,9900,COLLECTOR,2024-10-03 12:39:33,\N
15,16,29454,2023-12-05,9900,8655.17,3112.94,394,29454,88259,317474,259354,Онлайн,2023-12-05 18:51:10,2024-02-27,9900,COLLECTOR,2024-10-03 12:39:33,2353.63
16,17,35084,2024-01-04,9900,7270.92,2143.56,350,35084,104036,327624,291631,Онлайн,2024-01-04 12:01:11,2024-03-28,9900,COLLECTOR,2024-10-03 13:14:49,2347.26
17,18,37654,2024-01-15,9900,7270.92,2143.56,339,37654,109897,331792,306104,Онлайн,2024-01-15 13:47:12,2024-04-08,9900,COLLECTOR,2024-10-03 13:14:49,2353.63
18,19,39952,2024-01-25,9900,8655.17,3112.94,343,39952,116791,336370,318123,Онлайн,2024-01-25 18:56:08,2024-04-18,9900,COLLECTOR,2024-10-03 13:14:49,2353.63
19,20,42997,2024-02-08,13300,11627.66,4182.00,329,42997,125922,342546,334684,Онлайн,2024-02-08 20:32:07,2024-05-02,13300,COLLECTOR,2024-10-03 13:14:49,2000
20,21,70431,2024-06-22,6000,6000.00,2889.34,208,70431,208219,361491,486010,Онлайн,2024-06-22 10:47:02,2024-10-12,6000,ACTIVE_SB,2024-09-24 23:00:00,500
21,22,68701,2024-06-14,9900,9900.00,4166.08,216,68701,203029,392176,475995,Онлайн,2024-06-14 09:09:03,2024-09-06,9900,DELINQUENT,2024-06-29 00:00:00,50